k8s {
   context='gke_uniapp-cromwell_europe-west2-b_cluster-1'
   namespace='default'
   //serviceAccount='uniapp-cromwell@appspot.gserviceaccount.com'
   workDir='/work'
   storageClaimName = 'test-dynamic-volume-claim'
   storageMountPath = '/'
   computeResourceType = 'job'
}

executor {
  queueSize = 30
}

wave {
  enabled = true
}

process {
   executor = 'k8s'
   container = 'ubuntu:latest'
}

